# Go build artifacts
bin/
out/
dist/
fgo
gofile
*.exe

# IDE/editor
# .editorconfig
# !.idea/
# !.vscode/
*.swp
*.swo
*.bak
*.tmp

# OS files
.DS_Store
Thumbs.db

# Database & Blobs
blobs/
*.db
meta.db-sh
meta.db-wal

# Tests / Coverage
*.out
*.coverprofile

# Logs
*.log
logs/
log/