# Go build artifacts
bin/
fgo
gofile
*.exe
*.dll
*.so
*.dylib
*.test
*.out

# Dependency directories
vendor/

# IDE/editor
*.swp
*.swo
*.bak
*.tmp

# OS files
.DS_Store
Thumbs.db

# Database & File Storage
blobs/
*.db
meta.db-sh
meta.db-wal

# Tests
*.test
temp_part.txt

# Coverage
coverage.out
*.coverprofile

# Logs
*.log

# Do NOT ignore .idea or .vscode
!.idea/
!.vscode/